/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: BASES2FASTQ {

        publishDir = params.disable_task_publish ? [
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ] : [
            [
                path: { "${params.outdir}/bases2fastq/" },
                mode: params.publish_dir_mode,
                pattern: "*.{json,csv,html,log}"
            ],
            [
                path: { "${params.outdir}/bases2fastq/" },
                mode: params.publish_dir_mode,
                pattern: "info/*.{log,json}"
            ],
            [
                path: { "${params.outdir}/bases2fastq/" },
                mode: params.publish_dir_mode,
                pattern: "Samples/*/*.{json,fastq.gz}"
            ],
            [
                path: { "${params.outdir}/bases2fastq/" },
                mode: params.publish_dir_mode,
                pattern: "Samples/*/*/*.{json,fastq.gz}"
            ]
        ]
    }

    withName: 'MULTIQC' {
        publishDir = [
            [
                path: { "${params.outdir}/multiqc/" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,yml,log}"
            ],
            [
                path: { "${params.outdir}/multiqc/" },
                mode: params.publish_dir_mode,
                pattern: "*_data"
            ],
            [
                path: { "${params.outdir}/multiqc/" },
                mode: params.publish_dir_mode,
                pattern: "*_plots"
            ]
        ]
    }

}
