params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    run_dir = "s3://element-public-data/bases2fastq-share/bases2fastq-v2/20230404-bases2fastq-sim-151-151-9-9/"
    b2f_run_manifest = "s3://element-public-data/bases2fastq-share/bases2fastq-v2/20230404-bases2fastq-sim-151-151-9-9/RunManifest.csv"

    b2f_settings = ["R1AdapterTrim,true", "R2AdapterTrim,true"]
}

process {
    withName: BASES2FASTQ {
        cpus = 2
        memory = 6.GB
        time = 2.h
    }
}

cleanup = false

aws {
   batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      maxParallelTransfers = 10
      maxTransferAttempts = 3
   }
   client {
      maxConnections = 10
      uploadMaxThreads = 10
      maxErrorRetry = 3

      uploadRetrySleep = 1000
      uploadChunkSize = 32.MB
   }
}
